*.dll
*.dtbcache
*.ide~Stashed changes
*.ide
*.lock
PhiladelphiaInmateLocator.WebApi/PhiladelphiaInmateLocator.WebApi/bin/*
*.ide-wal
PhiladelphiaInmateLocator.WebApi/PhiladelphiaInmateLocator.WebApi/obj/
PhiladelphiaInmateLocator.WebApi/.vs/PhiladelphiaInmateLocator.WebApi/v16/
PhiladelphiaInmateLocator.WebApi/PhiladelphiaInmateLocator.WebApi/Properties/
PhiladelphiaInmateLocator.WebApi/PhiladelphiaInmateLocator.WebApi/.config/


PhiladelphiaInmateLocator.WebApi/PhiladelphiaInmateLocator.WebApiTests/obj/
PhiladelphiaInmateLocator.WebApi/PhiladelphiaInmateLocator.WebApiTests/bin/

