{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Jwt": {
    "Secret": "your-256-bit-secret"
  },
  "ConnectionStrings": {
    "DefaultConnection": "Server=[Server];Database=[DB];;User Id=[ID];Password=[password];;MultipleActiveResultSets=true"
  }
}
